body{
    background-color:violet;
}
.nosotros{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

img{
    height: 400px;
    width: 400px;  
}
.grid__inicio{
  margin-top: 60px; 
}

.titulo{
    display: flex;
    justify-content: center;
    font-size: 150px;
    color: blueviolet;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.subtitulo{
 display: flex;
 justify-content: center;
 color: blueviolet;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-size: 40px;
}

.sabores{
    display: flex;
    justify-content: center;
    font-size: 100px;
    color: blueviolet;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3{
    color: blueviolet;
}

ul{
    list-style-type: none;
}

    
h3{
    color:rgb(102, 15, 183);
    font-size: 30px; 
}

.img1{
    margin-left: 1000px;
    margin-top: -500px;
}

.img2{
    margin-left: 500px;
    margin-top: -350px;
}

.infu{
    margin-left: 500px;
    margin-top: 5%;
    color: rgb(102, 15, 183);
    font-size: 150px;
}

.lista1{
    font-size: 20px;
    margin-left: 50px;
    
}

.lista2{
    font-size: 20px;
    margin-left: 1000px;
    margin-top: -250px;
}

.imgzumo{
    margin-left: 800px;
    margin-top: 50px;
    height: 40%;
    width: 40%;
}

.imgcafes{
    height: 40%;
    width: 40%;
    margin-top: -290PX;
    margin-left: 50px;
    
}

.pastel{
    margin-left: 500px;
    margin-top: 5%;
    color: rgb(102, 15, 183);
    font-size: 150px;
}

.oreo{
    margin-left: 450px;
    margin-top: 150px;
    font-size: 40px;
}

.imgoreo{
    margin-top: -200px;
}

.cheese{
    margin-left: 50px;
    margin-top: 50px;
    font-size: 40px;
}

.imgcheese{
    margin-top: -40px;
    width: 500px;
    margin-left: -470px;
}

.base{
    margin-left: 30px;
    margin-top: -300px;
}

.ingre{
    margin-left: 430px;
    margin-top: -160px;
}

.lemon{
    margin-left: 700px;
    margin-top: -1000px;
}

.imglemon{
    margin-left: 500px;
}

.receta3{
    margin-left: 500px;
}

.quien{
    display: flex;
    justify-content: center;
    color: blueviolet;
}

.subt{
    display: flex;
    justify-content: center;
    color: blueviolet;
}

.p{
    display: flex;
    justify-content: center;
    color: blueviolet;
}

.donde{
    color: blueviolet;
}
